*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------shared style-------- */

.btn{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: white;
    font-size: 16px;
    font-weight: 600;

}

nav{
    max-width: 1600px;
    max-height: 92px;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    height: 60px;
    width: 139px;
    /* margin: 16px 120px 1341px; */
    /* margin-right: 1341px;
    margin-left: 120px; */
    
}

nav .nav-content{
    list-style: none;
    height: 24px;
    width: 365px;
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;


}


body {
  font-family: "Inter", sans-serif;
}

nav .btn{
    
    max-width: 164px;
    max-height: 44px;
    
    

}

#banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#banner .banner-content{
    width: 1360px;
    height: 379px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 16px;
    margin: 0 auto;
}

#banner .banner-content .top-banner{
    width: 229px;
    height: 35px;
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.top-banner p{
    text-align: center;
    /* padding: 8px 12px; */
   

}


.circle{
    background-color: #30B868;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}


.banner-content h1{
    width: 770px;
    height: 168px;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-align: center;
    
}

.text-green{
    color: #30B868;

}

.banner-content p{
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 16px;


}

.banner-content .btn{
    width: 251px;
    height: 52px;
    align-items: center;
}

.btn-2{
    width: 198px;
    height: 52px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}