*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------shared style-------- */

.btn{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: white;
    font-size: 16px;
    font-weight: 600;

}

nav{
    max-width: 1600px;
    max-height: 92px;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    height: 60px;
    width: 139px;
    /* margin: 16px 120px 1341px; */
    /* margin-right: 1341px;
    margin-left: 120px; */
    
}

nav .nav-content{
    list-style: none;
    height: 24px;
    width: 365px;
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;


}


body {
  font-family: "Inter", sans-serif;
}

nav .btn{
    
    max-width: 164px;
    max-height: 44px;
    
    

}

#banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#banner .banner-content{
    width: 1360px;
    height: 379px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 16px;
    margin: 0 auto;
}

#banner .banner-content .top-banner{
    width: 229px;
    height: 35px;
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.top-banner p{
    text-align: center;
    /* padding: 8px 12px; */
   

}


.circle{
    background-color: #30B868;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}


.banner-content h1{
    width: 770px;
    height: 168px;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-align: center;
    
}

.text-green{
    color: #30B868;

}

.banner-content p{
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 16px;


}

.banner-content .btn{
    width: 251px;
    height: 52px;
    align-items: center;
}

.btn-2{
    width: 198px;
    height: 52px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

#notes{
    width: 100%;
    max-height: 448px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 44px;
    align-items: center;

}
.notes-content{
    /* width: 85%;
    max-width: 1360px; */
    max-height: 117px;
    gap: 16px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;


}

.notes-content h2{

    font-weight: 700;
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    color: #001931;
    

}
.notes-content p{
    color: #627382;
    font-size: 16px;
    text-align: center;
    
}
.notes-content-img{
    max-width: 1360px;
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.notes-card{
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgb(225, 224, 224);
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
}

.notes-card .img-box{
    background-color: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.notes-card img{
    width: 32px;
    height: 32px;
}

#knowledge{
    height: 840px;
    
}
.knowledge-container{
    margin: 120px;
    max-width: 1360px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.knowledge-container img{
    width: 600px;
    height: 600px;
}

.knowledge-content{
    width: 700px;
    height: 396px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

.knowledge-title{
    font-size: 16px;
    color: #30B868;
    font-weight: 500;
}

.knowledge-content h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #001931;
}

.knowledge-content p{
    color: #627382;
    font-size: 16px;
    width: 500px;
}

.knowledge-content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
    gap: 20px ;
}

.knowledge-content li img{
    height: 20px;
    width: 20px;
    
}
#ready{
    height: 506px;
}
.ready-container{
    background-color: #F7F6F2;
    border-radius: 12px;
    margin: 0 120px 120px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 80px 40px;
}

.ready-container h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.ready-container p{
    color: #627382;
    font-size: 16px;
    width: 500px;
    text-align: center;
}
.ready-container button{
    width: 194px;
    height: 52px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
}