*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    max-width: 1600px;
    max-height: 92px;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    height: 60px;
    width: 139px;
    /* margin: 16px 120px 1341px; */
    /* margin-right: 1341px;
    margin-left: 120px; */
    
}

nav .nav-content{
    list-style: none;
    height: 24px;
    width: 365px;
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;


}


.inter {
  font-family: "Inter", sans-serif;
}

nav .btn{
    background-color: #30B868;
    max-width: 164px;
    max-height: 44px;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: white;
    font-size: 16px;
    font-weight: 600;

}



